<div class="list-group">
  <ul class="nav nav-pills">
    <%= create_nav_links(section, params[:query]) %>
    <li class="nav-item">
      <a href="#" class="list-group-item list-group-item-action">Sort by</a>
    </li>
  </ul>
</div>
