<%= render :partial => "search/nav" , :locals => { :section => "search-all" } %>

<div class="container">
  <% if @results.present? %>
    <%= @results %>
  <% else %>
    <h4>
      No results found :-(</em>
      </br>
      Try looking for our items tagged with <a href="/tag/<%= params[:query] %>"><strong><%= params[:query] %></strong></a>
    </h4>
  <% end %>
</div>
