<%= render :partial => "search/nav" , :locals => { :section => "search-tags" }%>

<div class="container">
  <% if @tags.present? %>
    <%= render partial: 'tag/tags', locals: { power_tag: true, tags: @tags } %>
  <% else %>
    <h4>
      No results found :-(</em>
      </br>
      Try looking for our items tagged with <a href="/tag/<%= params[:query] %>"><strong><%= params[:query] %></strong></a>
    </h4>
  <% end %>
</div>
